* {
    margin: 0;
    padding: 0;
}


/* style du modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fond noir semi-transparent */
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    /* Couleur de fond noire */
    color: #fff;
    /* Couleur du texte blanc */
    padding: 20px;
    text-align: center;

}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #fff;
    /* Couleur de fermeture du texte blanc */
    cursor: pointer;
}

/*-----------------------------------------------------------------------------------------*/
/*----------------------------------------- NAVBAR ----------------------------------------*/
/*-----------------------------------------------------------------------------------------*/

.entete a {
    text-decoration: none;
    color: #fff;
}

.navigation-bar ul li .link_active {
    color: var(--yellow);
}

.entete img {
    width: 315px;
}

.bg-color {
    background-color: var(--primary-color);
}

.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    font-size: 13px;
    font-family: 'Krona One', sans-serif;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.55);
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 88px;
    background-color: var(--primary-color);
    top: 0;
}

.navigation-bar .right {
    margin-right: 15px;
}

.navigation-bar .right .hamburger-menu {
    display: none;
    position: relative;
    top: -10px;
}

form .button_déconnexion {
    position: relative;
    right: 71px;
    padding: 5px;
    border: none;
    transition: background-color 0.2s ease-in;
}

form .button_déconnexion:hover {
    background-color: #b1a500;
}

form .hamburger-menu {
    top: -30px !important;
}

.hamburger-menu div {
    position: absolute;
    top: 0;
    right: 0;
}

.hamburger-menu div:nth-child(1) {
    top: 0;
}

.hamburger-menu div:nth-child(2) {
    top: 10px;
}

.hamburger-menu div:nth-child(3) {
    top: 20px;
}

.hamburger-menu.active div:first-child {
    top: 10px;
    transform: rotate(45deg);
}

.hamburger-menu.active div:last-child {
    top: 10px;
    transform: rotate(-45deg);
}

.hamburger-menu.active div:nth-child(2) {
    transform: scaleX(0);
}


.navigation-bar ul {
    display: flex;
    margin: 0;
    align-items: center;
}

.navigation-bar ul li {
    list-style-type: none;
    margin: 0 20px;
}

.navigation-bar .right a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.navigation-bar .right a {
    color: var(--yellow);
}

.navigation-bar .right img {
    width: 20px;
    margin-right: 10px;
}

.navigation-bar .hamburger-menu {
    cursor: pointer;
}

.navigation-bar .hamburger-menu div {
    width: 30px;
    height: 2px;
    background-color: var(--yellow);
    margin: 7px;
    transition: all 0.3s ease-in-out;
}


/*-----------------------------------------------------------------------------------------*/
/*------------------------------------------ APROPOS -----------------------------------------*/
/*-----------------------------------------------------------------------------------------*/

.propos {
    padding-top: 120px;
    min-height: 100vh;
    height: 100%;
    text-align: center;
    background-color: var(--primary-color);
}

.propos h1 {
    color: var(--yellow);
    text-transform: uppercase;
    font-size: 32px;
    font-family: 'Krona One', sans-serif;
    padding-top: 10px;
}

.propos hr {

    width: 110%;
    margin-left: -5%;
    color: white;
    z-index: 1;


}


.propos h2 {
    font-size: 30px;
    font-family: 'Krona One', sans-serif;
    color: var(--yellow);
    padding-top: 40px;
}

.propos .propos_para p {
    font-size: 20px;
    color: var(--text-color);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 25px;

}

.propos hr {
    color: var(--yellow);

}

.propos .propos_para .image_team .pics {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin-top: 25px;
    margin: 15px;
    border: solid var(--yellow) 5px;
    object-fit: cover;
}

.propos .propos_para .image_team .coll {
    display: inline-block;
    vertical-align: top;
    width: 250px;
    text-align: center;
    align-content: center;
}

/*-----------------------------------------------------------------------------------------*/
/*------------------------------------------- EQUIPAGE -----------------------------------------*/
/*-----------------------------------------------------------------------------------------*/

.equipage {
    padding-top: 95px;
    min-height: 100vh;
    height: 100%;
    text-align: center;
    background-color: var(--primary-color);
}

.equipage h1 {
    color: var(--yellow);
    text-transform: uppercase;
    font-size: 50px;
    font-family: 'Krona One', sans-serif;
}

.equipage h2 {
    font-size: 30px;
    font-family: 'Krona One', sans-serif;
    color: var(--yellow);
    margin-bottom: 0;

}

.equipage .equipage_item {
    display: inline-block;
    vertical-align: middle;
    margin: 50px;
    padding: 10px;
}

.equipage .equipage_item .equipage_logo {
    width: 300px;
}

.equipage .equipage_item .itemRight {
    flex-direction: column;
}

.equipage hr {
    width: 110%;
    margin-left: -5%;
    color: white;
    z-index: 1;
}


.equipage .buttonEquipage {
    font-size: 20px;
    background-color: var(--primary-color);
    text-align: center;
    font-family: 'Krona One', sans-serif;
    color: var(--text-color);
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
}

.equipageCreation {
    padding-top: 95px;
    height: 100vh;
    background-color: var(--primary-color);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.equipageCreation h1 {
    color: var(--yellow);
    text-transform: uppercase;
    font-size: 50px;
    font-family: 'Krona One', sans-serif;
    padding: 50px 0;
}

.equipageCreation form {
    color: var(--yellow);
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Krona One', sans-serif;
    flex-direction: column;
    border-color: aliceblue;
    width: 800px;
    max-width: none;
}

.equipageCreation form input:not([type='file']) {
    margin-bottom: 30px;
    padding: 5px;
    background-color: var(--dark-black);
    width: 100%;
}

.equipage .affiche_clan {
    color: var(--text-color);
    font-size: 15px;
    font-family: 'Krona One', sans-serif;
    flex-direction: column;
    text-align: start;
    display: block;
    margin: 50px auto 0 auto;
    width: 80%;
}

.equipage .affiche_clan .rejoindre button {
    font-size: 17px;
    background-color: var(--yellow);
    border: none;
    font-family: 'Krona One', sans-serif;
    padding: 8px;
    margin-top: 15px;
    transition: background-color 0.2s ease-in;
}

.equipage .affiche_clan .rejoindre button:hover {
    background-color: #b1a500;
}

.equipage .clan_infos p {
    color: #fff;
}

.equipage .deviseClan {
    color: #fff;
}

.equipage .affiche_clan div img {
    width: 200px;
    height: 200px;
}

/*-----------------------------------------------------------------------------------------*/
/*----------------------------------------- FOOTER ----------------------------------------*/
/*-----------------------------------------------------------------------------------------*/

footer {
    height: 50px;
    background-color: var(--primary-color);
    width: 100%;
    margin-top: auto;
}

footer p {
    color: #fff;
    text-align: center;
    font-size: 11px;
    line-height: 50px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0;
}


/*-----------------------------------------------------------------------------------------*/
/*------------------------------------------ HOME -----------------------------------------*/
/*-----------------------------------------------------------------------------------------*/

.welcome {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.welcome video {
    filter: brightness(10%);
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.welcome .welcome_text {
    position: absolute;
    top: 35%;
    margin-left: 80px;
    color: #fff;
}

.welcome .welcome_text p {
    width: 50%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.welcome .welcome_text h1 {
    font-family: 'Krona One', sans-serif;
    color: var(--yellow);
    font-size: 5rem;
    text-transform: uppercase;
}

.welcome .welcome_text h2 {
    font-family: 'Krona One', sans-serif;
    color: var(--yellow);
    text-transform: uppercase;
    margin: 20px auto;
}


/*-----------------------------------------------------------------------------------------*/
/*------------------------------------------- MAP -----------------------------------------*/
/*-----------------------------------------------------------------------------------------*/

.map {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: black;
}

.map .map_card {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    transition: width 0.2s ease-in-out;
}

.map .map_card:hover {
    width: 115%;
}

.map .map_card img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    filter: opacity(15%);
    cursor: pointer;
    overflow: hidden;
    transition: filter 0.2s ease-in-out;
}

.map .map_card:hover img {
    filter: opacity(1);
}

.map .map_card .map_image_shadow {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.map .map_card:hover .map_image_shadow {
    opacity: 1;
}

.map .map_card .map_image_shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.map .map_card .map_text {
    position: absolute;
    z-index: 2;
    top: 60%;
    width: 100%;
    padding: 0 20px;
}

.map .map_card .map_text h2 {
    color: var(--yellow);
    text-transform: uppercase;
    font-size: 48px;
    font-family: 'Krona One', sans-serif;
}

.map .map_card .map_text .map_biographie_title {
    color: var(--yellow);
    text-transform: uppercase;
    font-size: 32px;
    font-family: 'Krona One', sans-serif;
}

.map .map_card .map_text .map_biographie {
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}


.map_info {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.map_info .map_info_image {
    width: 50%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

.map_info .map_info_text {
    width: 50%;
    padding: 20px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-color);
    position: relative;
}

.map_info .map_info_text h2 {
    color: var(--yellow);
    text-transform: uppercase;
    font-size: 48px;
    font-family: 'Krona One', sans-serif;
    z-index: 1;
    margin-bottom: 50px;
}

.map_info .map_info_text .map_name_title, .map_info .map_info_text .map_biographie_title {
    color: var(--yellow);
    text-transform: uppercase;
    font-size: 32px;
    font-family: 'Krona One', sans-serif;
    z-index: 1;

}

.map_info .map_info_text .map_name, .map_info .map_info_text .map_biographie {
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    z-index: 1;

}

.map_info .map_info_text .map_biographie_title {
    margin-top: 50px;
    z-index: 1;

}

.map_info .map_info_text .map_biographie {
    margin-bottom: 100px;
    z-index: 1;

}

.map_info .map_info_text hr {
    width: 110%;
    margin-left: -5%;
    color: white;
    z-index: 1;

}

.map_info .map_info_text .map_biographie_title {
    margin-top: 50px;
    z-index: 1;

}

.map_info .map_button_go_back {
    position: absolute;
    top: 150px;
    left: 50px;
    z-index: 1;
    transition: transform 0.2s ease-in-out;
}

.map_info .map_button_go_back:hover {
    transform: scale(1.1);
}

.map_info .map_info_anchor_right {
    position: absolute;
    top: 25px;
    right: -25px;
    width: 500px;
    z-index: 0;
}

.map_info .map_info_anchor_left {
    position: absolute;
    bottom: 10px;
    left: -75px;
    width: 500px;
    z-index: 0;
}


/*-----------------------------------------------------------------------------------------*/
/*-------------------------------------- ENCYCLOPEDIA -------------------------------------*/
/*-----------------------------------------------------------------------------------------*/

.encyclopedia {
    padding: 88px 0;
    min-height: 100vh;
    width: 100%;
    background-color: var(--primary-color);
    overflow: hidden;
}

.encyclopedia_card {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 125px 0;
}

.encyclopedia_anchor {
    height: 400px;
    position: relative;
}

.encyclopedia_anchor_left {
    left: -50px;
}

.encyclopedia_images_main {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.encyclopedia_item_image {
    height: 175px;
    z-index: 10;
}

.encyclopedia_rectangle_dot {
    position: absolute;
    top: 15px;
    left: 150px;
    height: 140px;
}

.encyclopedia_text {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.encyclopedia_text h2 {
    color: var(--yellow);
    text-transform: uppercase;
    font-family: 'Krona One', sans-serif;
}

.encyclopedia_text p {
    color: #fff;
    margin-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
}

.encyclopedia_line {
    width: 75%;
    border: 1px solid white;
    position: absolute;
    right: 75px;
    opacity: 1;
}

/*--- ODD ---*/
.encyclopedia_odd {
    flex-direction: row-reverse;
}

.encyclopedia_odd .encyclopedia_anchor {
    left: 0;
    right: -50px;
}

.encyclopedia_odd .encyclopedia_rectangle_dot {
    left: 300px;
}

.encyclopedia_odd .encyclopedia_text {
    text-align: right;
}

.encyclopedia_line_odd {
    width: 75%;
    border: 1px solid white;
    position: absolute;
    left: 75px;
    opacity: 1;
}

/*-----------------------------------------------------------------------------------------*/
/*------------------------------------------- Connexion -----------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
#modConnexion {
    display: flex;
    align-items: center; /* Aligne les éléments verticalement au centre */
    justify-content: center; /* Centre le contenu horizontalement */
    background-color: #000;
    height: 50%;
    width: 40%;
}

/*

*/
#modInscriptions {
    display: flex;
    align-items: center; /* Aligne les éléments verticalement au centre */
    justify-content: center; /* Centre le contenu horizontalement */
    background-color: #000;
    height: 50%;
    width: 40%;

}

.titleMod {
    color: var(--yellow);
    margin-bottom: 10%;
}

.buttonSubmit {
    background-color: var(--yellow);
    color: var(--primary-color);
    border-color: var(--yellow);
    margin-left: 30%;
    margin-bottom: 25px;
    display: inline-block;
    vertical-align: top;
}

form {
    max-width: 300px; /* Ajustez la largeur maximale selon vos besoins */
    text-align: center; /* Centre le texte dans le formulaire */
}

form input,
form a {
    margin-bottom: 25px;
    display: inline-block;
    vertical-align: top;
    /* margin-right: 10px; /* Ajoute un espace entre chaque élément */
}

.modal_form {
    margin-bottom: 25px;
    display: inline-block;
    vertical-align: top;
}

form input {
    background-color: var(--primary-color);
    border: none;
    outline: none;
    color: #fff;
}


.connexion button,
.connexion a {
    display: block;
    margin-top: 10px; /* Ajoute un espace entre le bouton et la balise <a> */
}

::placeholder {
    color: #fff; /* Couleur que vous souhaitez pour le placeholder */
    opacity: 1;
}

::-ms-input-placeholder { /* Edge 12-18 */
    color: #fff;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #fff;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}


.tooltip-container {
    position: relative;
    display: inline-block;
}

.profile-image {
    cursor: pointer;
    width: 40px; /* Ajustez la taille selon vos besoins */
    height: 40px; /* Ajustez la taille selon vos besoins */
    border-radius: 50%;
}


.tooltip {
    display: none;
    position: absolute;
    background-color: #fff; /* Fond blanc */
    color: #000; /* Texte noir */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.tooltip ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.tooltip li {
    margin-bottom: 8px;
}

.tooltip a {
    color: #000; /* Liens noirs */
    text-decoration: none;
}

.tooltip a:hover {
    text-decoration: underline;
}

/*-----------------------------------------------------------------------------------------*/
/*---------------------------------------- PROFILE ----------------------------------------*/
/*-----------------------------------------------------------------------------------------*/

.profile_not_connected {
    height: 100vh;
    width: 100%;
    background-color: var(--primary-color);
    position: relative;
}

.profile_not_connected h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--yellow);
    font-size: 2rem;
    font-family: 'Krona One', sans-serif;
}

.profile {
    padding-top: 88px;
    height: 100vh;
    width: 100%;
    background-color: var(--primary-color);
    position: relative;
    overflow: hidden;
}

.profile h1 {
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase;
    color: var(--yellow);
    font-weight: 800;
    font-family: 'Krona One', sans-serif;
}

.profile_form {
    background-color: var(--dark-black);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    width: 900px;
    height: 500px;
}

.profile_form form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.profile_form form label {
    width: 100%;
    text-align: left;
    font-size: 15px;
    color: #c7c7c7;
}

.profile_form form input[type='text'] {
    width: 100%;
    background-color: var(--dark-black);
    border-bottom: 1px solid white;
    padding: 15px 0;
}

.profile_form form input[type='text']::placeholder {
    color: #535353;
}

.profile_form form .profile_label_image .profile_image_avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid var(--yellow);
    box-shadow: 0 0 5px rgba(255, 222, 0, 0.3);
    margin: 0 auto 20px auto;
    display: block;
    cursor: pointer;
    position: relative;
}


.profile_form form label .profile_image_camera {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 34%;
    left: 56%;
    border-radius: 50%;
    cursor: pointer;
}

.profile_form form label input[type="file"] {
    display: none;
}

.profile_form form button {
    padding: 15px;
    background-color: var(--yellow);
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in;
}

.profile_form form button:hover {
    background-color: #b1a500;
}

.profile_change_profile {
    background-color: var(--primary-color);
    height: 100vh;
    position: relative;
}

.profile_change_profile_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-family: 'Krona One', sans-serif;
    color: var(--yellow);
    font-weight: 800;
    text-align: center;
}

.profile_form .profile_change_password {
    color: var(--yellow);
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.profile_change_password_section {
    height: 100vh;
    padding-top: 88px;
    background-color: var(--primary-color);
    position: relative;
    overflow: hidden;

}

.profile_change_password_section form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 80%;
    height: 600px;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: var(--dark-black);
}

.profile_change_password_section form h1 {
    color: var(--yellow);
    font-family: 'Krona One', sans-serif;
}

.profile_change_password_section form label, .profile_change_password_section form input {
    width: 100%;
    text-align: left;
}

.profile_change_password_section form label {
    font-size: 15px;
    color: #c7c7c7;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding-top: 30px;
}

.profile_change_password_section form input {
    padding: 15px 0;
    background-color: transparent;
    border-bottom: 1px solid white;
}

.profile_change_password_section form input::placeholder {
    color: #535353;
}

.profile_change_password_section form button {
    padding: 15px;
    background-color: var(--yellow);
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in;
}

.profile_change_password_section form button:hover {
    background-color: #b1a500;
}

.profile_anchor_left {
    position: absolute;
    top: 10%;
    left: -75px;
}

.profile_anchor_right {
    position: absolute;
    bottom: 5%;
    right: -75px;
}

/*-----------------------------------------------------------------------------------------*/
/*----------------------------------------- SCORES ----------------------------------------*/
/*-----------------------------------------------------------------------------------------*/

.scores {
    min-height: 100vh;
    height: 100%;
    background-color: var(--primary-color);
    padding: 88px 0;
}

.scores h1 {
    color: var(--yellow);
    text-transform: uppercase;
    font-size: 50px;
    font-family: 'Krona One', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.scores .score_none_games {
    text-align: center;
    font-weight: 500;
    color: var(--yellow);
    margin-top: 200px;
}

.scores .score_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 90px;
    padding: 60px;
    position: relative;
    background: linear-gradient(to bottom, rgb(10, 10, 10), rgb(0, 0, 0));
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width: 70%;
    margin: 125px 150px 15px 250px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.scores .score_item .score_id {
    font-family: 'Krona One', sans-serif;
    font-size: 2rem;
}

.scores .score_item img {
    position: absolute;
    left: -550px;
    width: 500px;
}

/*-----------------------------------------------------------------------------------------*/
/*--------------------------------------- RESPONSIVE --------------------------------------*/
/*-----------------------------------------------------------------------------------------*/

@media screen and (max-width: 1730px) {
    /* NAVBAR */
    .navigation-bar {
        position: relative;
        padding: 0;
    }

    .navigation-bar .right .hamburger-menu {
        display: block;
    }

    .navigation-bar ul {
        top: 88px;
        width: 100%;
        flex-direction: column;
        text-align: center;
        display: block;
        position: absolute;
        background-color: var(--primary-color);
        overflow: hidden;
        height: 0;
    }

    .navigation-bar ul li {
        margin: 0;
        padding-bottom: 30px;
        width: 100%;
    }

    .navigation-bar .left {
        margin: 15px;
    }

    .navigation-bar .left img {
        width: 150px;
    }

    .navigation-bar .right a {
        font-size: 10px;
        margin-right: 50px;
    }

    .navigation-bar .right a img {
        width: 15px;
    }
}

@media screen and (max-width: 1250px) {
    /* WELCOME */
    .welcome .welcome_text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 10px;
    }

    .welcome .welcome_text p {
        width: 100%;
        text-align: center;
        font-size: 1rem;
    }

    .welcome .welcome_text h1 {
        font-size: 2rem;
    }

    .welcome .welcome_text h2 {
        font-size: 1.2rem;
    }

    /* MAP */
    .map_info .map_info_text {
        padding: 20px 50px;
    }

    .map_info .map_info_text h2 {
        font-size: 2rem;
    }

    .map_info .map_info_text .map_name_title, .map_info .map_info_text .map_biographie_title {
        font-size: 1.5rem;
    }

    .map_info .map_info_text .map_name, .map_info .map_info_text .map_biographie {
        font-size: 1rem;
    }

    .map_info .map_info_text .map_biographie_title {
        margin-top: 20px;
    }

    .map_info .map_info_text .map_biographie {
        margin-bottom: 50px;
    }

    .map_info .map_button_go_back {
        width: 100px;
        top: 125px;
        left: 25px;

    }

    /* ENCYCLOPEDIA */
    .encyclopedia_card {
        flex-direction: column;
        padding: 150px 0;
    }

    .encyclopedia_card .encyclopedia_images_main {
        width: 100%;
        height: 350px;
    }

    .encyclopedia_text {
        width: 100%;
        padding: 0 50px;
    }

    .encyclopedia_anchor {
        display: none;
    }

    .encyclopedia_card .encyclopedia_images_main .encyclopedia_rectangle_dot {
        left: 30%;
    }

    .encyclopedia_odd .encyclopedia_images_main .encyclopedia_rectangle_dot {
        left: 50%;
    }

    /* PROFILE */
    .profile_anchor_left {
        display: none;
    }

    .profile_anchor_right {
        display: none;
    }
}

@media screen and (max-width: 1180px) {
    .map {
        flex-direction: column;
        height: auto;
    }

    .map .map_card:hover {
        width: 100%;
    }

    .map .map_card {
        height: 100vh;
    }
}

@media screen and (max-width: 950px) {
    /* CONNEXION */
    .modal-content {
        width: 90% !important;
    }

    .modal-content form .connexion .button-inscrire a {
        margin: 0;
    }

    /* MAP */
    .map_info {
        flex-direction: column;
        height: 100%;
    }

    .map_info .map_info_image {
        width: 100%;
    }

    .map_info .map_info_text {
        width: 100%;
        padding: 100px 15%;
    }

    .map_info .map_info_text .map_button_go_back {
        top: 20px;
    }

    .map_info .map_info_text .map_button_go_back img {
        width: 50px;
    }

    .map_info .map_info_anchor_right {
        width: 300px;
        top: -25px;
    }

    .map_info .map_info_anchor_left {
        width: 300px;
        bottom: -25px;
    }

    /* PROFILE */
    .profile_form {
        width: 400px;
        padding: 10px;
    }

    .profile_form form label img {
        width: 150px;
        height: 150px;
    }

    .profile_form form .profile_label_image .profile_image_camera {
        left: 63%;
    }

    /* SCORES */
    .scores .score_item img {
        display: none;
    }

    .scores .score_item {
        gap: 30px;
        padding: 30px;
        width: 90%;
        margin: 25px auto;
        font-size: 12px;
    }

    /* EQUIPAGE */
    .equipageCreation h1 {
        font-size: 26px;
        padding: 50px 0;
    }

    .equipageCreation form {
        width: 400px;
    }

    .equipage h1 {
        font-size: 30px;
    }

    .equipage .equipage_item img {
        width: 300px;
    }
}

/*-----------------------------------------------------------------------------------------*/
/*------------------------------------------- Amis -----------------------------------------*/
/*-----------------------------------------------------------------------------------------*/


.amis {
    background-color: var(--primary-color);
    height: 100%;
    min-height: 100vh;
}


.container_titre {
    display: flex;
    justify-content: center;
    align-items: center;
}


.title_page {
    text-align: center;
    color: var(--yellow);
    font-family: 'Krona One', sans-serif;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 100px;
}

.demandes_amis {
    margin-left: 20px;
    margin-bottom: 30px;
}


.button_demandesAmis {
    color: var(--primary-color);
    background-color: var(--yellow);
    border-radius: 3px;
    border-color: var(--yellow);
}


.container_subtitle_MesAmis {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}


.subtitle_mesAmis {
    color: #fff;
    font-family: 'Krona One', sans-serif;
    font-size: 20px;
}

.attr_amis {
    color: #fff;
    font-family: 'Krona One', sans-serif;
    font-size: 10px;
}

.button_supprimerAmis {
    color: var(--primary-color);
    background-color: red;
    border-radius: 3px;
    border-color: red;
}


.container_buttonSupp {
    margin-left: 20%;
    margin-top: 2%;
}

/*
.fill{
    color: #63C119;

}
*/

.profil_amis {
    width: 100px;
    height: 100px;
}

.container_amis {
    display: flex;
    align-items: center;
    margin-left: 1%;
}

.attribut {
    display: flex;
    flex-direction: column; /* Les éléments à l'intérieur seront alignés verticalement */
    /* Ajoutez des styles pour la div attribut si nécessaire */
    margin-top: 50px;
    margin-left: 19px;
}

.separate_amis {
    border-color: #fff;
    width: 35%;
    border-width: 2px;
    margin-left: 15px;
}

.button_déconnexion {
    background-color: var(--yellow);
    color: var(--primary-color);
    border-color: var(--yellow);
    border-radius: 2px;
}

.Ajout_amis{
    position: relative;
    float: right;
    margin-top: -331px;
    margin-right: 175px;
}

.barre_recherche{
    border-color: #fff;
    width: 91%;
    border-width: 1px;
    margin-left: 5px;
    margin-top: -23px;
}
.img_barre_recherche{
    background: url('../images/Amis/loupe.png') no-repeat; /* Remplacez 'chemin/vers/votre/image.png' par le chemin réel de votre image */
    width: 50px;
    border: none; /* Supprime la bordure du bouton */
    cursor: pointer;
}

.Ajouter_amis{
    display: flex;
    justify-content: flex-end; 
}
.amis_separe{
    border-color: #fff;
    width: 35%;
    border-width: 2px;
    border-left: 2px;
    border: none;
    height: 100px; 
    
}

.container_ajoutAmis{
    display: flex;
    align-items: center;
    margin-left: 1%;
  }

  .button_ajoutAmis{
    color : var(--primary-color);
    background-color: var(--yellow);
    border-radius: 3px;
    border-color:  var(--yellow);
}

.container_buttonAjout{
    margin-left: 20%;
    margin-top: 2%;
}

.separate_ajoutAmis{
        border-color: #fff;
        width: 35%;
        border-width: 2px;
        margin-left: 15px;  
}

/*
<div class="Ajout_amis">
    <div class="container_subtitle_MesAmis">
        <h3 class="subtitle_mesAmis">Ajouter des amis</h3>
    </div>
    
<?php

foreach ($JoueurArray as $joueur) {
?>
<div class="container_Ajoutamis" id="ajout_</*?php echo $joueur['idJoueur'] ?? ''; ?>">
    <div class="profil">
        <img class="profil_amis" src="../assets/logo.png" alt="image joueur">
    </div>
    <div class="attribut">
        <p class="attr_amis"></*?php echo $joueur['username'] ?? ''; ?></p>
        <p class="attr_amis"></*?php echo $joueur['money'] ?? ''; ?></p>
    </div>
    <div class="container_buttonAjout">
        <form action="index.php?module=amis&action=ajout_amis" method="post">
            <input type="hidden" name="ajout_id" value="</*?php echo $joueur['idJoueur'] ?? ''; ?>">
            <button class="button_ajoutAmis" type="submit" name="submit">Ajout</button>
        </form>
    </div>
</div>
<hr class="separate_ajoutAmis" id="</*?php echo $joueur['idJoueur'] ?? ''; ?>">
-->
<?php
}

*/